
.intro{
    position: relative;
    /* height: 300px; */
    background-color: white;
}

.intro .intro-left{
    margin: 100px;
    width: 300px;
}

.intro .col img{
    max-width: 100%;
    height: auto;
}


.intro .intro-right{
    margin: 100px;
}
